.topTen__card {
  width: 100%;
  @media screen and (min-width: 1200px) {
    width: 20%;
    position: relative;
  }
}

.topTen__cards {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.num {
  position: relative;
  left: -50px;
  height: 300px;
  @media screen and (min-width: 1200px) {
    height: 252px;
    left: unset;
  }
}

.img {
  max-width: 180px;
  padding: 20px;
  position: absolute;
  left: 133px;
  @media screen and (min-width: 1200px) {
    position: absolute;
    left: 119px;
    bottom: 20px;
    max-width: 134px;
  }
}
